.textfield{
    margin: 24px 0px
}

.textfield label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.textfield input{
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    font-size: 18px;
    padding: 24px;
    border: none;
    box-sizing: border-box;
}